body {
    display: grid;
    justify-content: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    row-gap: 20px;
    letter-spacing: 0.1rem;
    justify-items: center;

}

.board {
    display: grid;
    grid-template: 75px 10px 75px 10px 75px / 75px 10px 75px 10px 75px;
}

.board>button {
    font-size: 1.75rem;
    outline: none;
    border: none;
}

.empty {
    cursor: pointer;
    background-color: #fff;
}

.empty:hover {
    background-color: aqua;
}

.marked {
    color: white;
    cursor: default;
    background-color: white;
}

.row {
    grid-column: span 5;
}

.board-line {
    background-color: hotpink;
}

.next-btn {
    background-color: crimson;
    border: none;
    border-radius: 8px;
    padding: 4px 20px;
    color: white;
    letter-spacing: 0.15rem;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.next-btn:hover {
    box-shadow: 0px 2px 5px #CCC;
}

.game-setup {
    background-color: #EEE;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid hotpink;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    display: none;
}

.game-setup label {
    width: 100px;
    display: inline-block;
    text-align: end;
}

.game-setup input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: hotpink;
    vertical-align: middle;
}

.game-setup button {
    align-self: center;
    background-color: hotpink;
    border: none;
    padding: 4px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.game-setup button:hover {
    box-shadow: 0px 2px 5px #ccc;
}

.game-setup input[type="text"] {
    border: none;
    background-color: white;
    border: 2px solid white;
    border-radius: 4px;
}

.game-setup input[type="text"]:focus {
    outline: none;
    border: 2px solid hotpink;
    box-shadow: 0px 2px 5px #ccc;
}

.game-info {
    /* display: none; */
    border-bottom: 1px solid black;
    width: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.game-info p>span {
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
}