body {
    display: grid;
    justify-content: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.board {
    display: grid;
    grid-template: repeat(3, 75px) / repeat(3, 75px);
}

.board > button {
    font-size: 1.5rem;
    outline: none;
}

.empty {
    cursor: pointer;
    background-color: #fff;
}

.empty:hover {
    background-color: aqua;
}

.marked {
    background-color: lightgray;
    cursor: default;
}


.top {
    border-top: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

.next-btn {
    background-color: crimson;
    border: none;
    border-radius: 8px;
    padding: 4px 20px;
    color: white;
    letter-spacing: 0.15rem;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}