@font-face {
    font-family: "balgruf";
    src: 
        url("./assets/fonts/balgruf-webfont.woff2") format("woff2"),
        url("./assets/fonts/balgruf-webfont.woff") format("woff");
    font-weight: normal;
}

:root{
    --accent-color: rgb(188, 4, 41);
    --light-color: #f1f2f2;
}

body {
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.8rem;
    letter-spacing: 0.35rem;
    text-transform: uppercase;
}

h1::first-letter {
    font-size: 4rem;
}

h2 {
    font-size: 1.2rem;
}

.left-section {
    background: url(./assets/imgs/background.png);
    flex-basis: 40%;
    background-size: cover;
    flex-shrink: 0;
}

.hero {
    background-color: rgba(109, 2, 23, 0.5);
    color: white;
    font-family: "balgruf", "Helvetica", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-top: 40%;
}

.hero img {
    width: 60px;
}

.right-section {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
}

.info,
form > div {
    padding: 0 30px;
}

.info {
    margin-bottom: 30px;
    padding-right: 25%;
}

.info span {
    color: var(--accent-color);
}

.info p {
    font-size: 0.85rem;
    font-weight: 700;
}

.info :nth-child(2) {
    margin-bottom: 20px;
}

.form-content {
    background-color: #fff;
    box-shadow: 0px 2px 5px #CCC;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 8px;
    padding-bottom: 25px;
}

button[type="submit"] {
    padding: 8px 40px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--accent-color);
    color: var(--light-color);
    margin-bottom: 22px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #CCC;
}

button[type="submit"]:hover {
    box-shadow: 0px 2px 5px #AAA;
    color: white;
}

.form-footer {
    margin-top: 20px;
    font-size: 0.8rem;
}

.form-footer a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 600;
}

.form-content label {
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}

.form-content > div {
    display: flex;
    gap: 50px;
}

.form-content > div > div {
    display: flex;
    flex-direction: column;
}

input,
input::placeholder {
    font-size: 0.8rem;
}

input {
    border-radius: 5px;
    border: 1px solid #CCC;
    padding: 2px 5px;
    width: 200px;
}

input[type="password"]:invalid {
    border: 1px solid var(--accent-color);
}

input:focus {
    border: 1.5px solid cornflowerblue;
    box-shadow: 0px 2px 5px #AAA;
    outline: none; /* Browsers have a default outline style */
}